/* Header */
.header {
  .header__inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px $base-spacing-unit;
  
    @media only screen and (max-width: $tablet) {
      padding: 40px $base-spacing-unit;
    }
  }
}

/* Logo */
.logo__link {
  padding: 4px 0;
  font-family: $heading-font-family;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  transition: none;

  &:hover {
    color: var(--heading-font-color);
  }

  @media only screen and (max-width: $mobile) {
    font-size: 32px;
  }
}

.logo__image {
  max-height: 50px;
}

/* Nav */
.main-nav {
  margin-left: auto;
}

.main-nav__box {
  display: flex;
  align-items: center;

  .nav__icon-close {
    display: none;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 24px;
    line-height: 1;
    border-radius: 50%;
    color: var(--heading-font-color);
    background: var(--background-alt-color);
    cursor: pointer;

    &:hover {
      .ion-md-close {
        transform: rotate(90deg);
      }
    }

    .ion-md-close {
      transition: $global-transition;
    }
  }

  .nav__title {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;

  .nav__item {
    display: inline-block;
    margin-right: 48px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    .nav__link {
      position: relative;
      padding: 4px 0;
      font-size: 16px;
      line-height: 1;
      font-weight: 700;
      transition: none;

      &.nav__link--current {
        &::after {
          transform: scaleX(1);
          transition: none;
          background: var(--brand-color);
        }
      }

      &:hover {
        color: var(--link-color);

        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        transform-origin: center;
        transform: scaleX(0);
        will-change: transform;
        transition: all 0.25s;
        background: var(--link-color);
      }
    }
  }
}

.nav-button {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: var(--link-color);
  cursor: pointer;

  .nav__icon {
    transition: $global-transition;
  }

  .nav__icon-menu {
    display: none;
  }
}

/* Toggle Theme */
.toggle-theme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  user-select: none;
  cursor: pointer;

  @media only screen and (max-width: $desktop) {
    padding: 20px 0;
  }
}

.toggle-sun,
.toggle-moon {
  position: absolute;
  font-size: 20px;
  color: var(--heading-font-color);
  transition: $global-transition;
}

.toggle-sun {
  display: none;
}

.dark-mode {
  .toggle-sun {
    display: block;
  }

  .toggle-moon {
    display: none;
  }
}